body {
  font-family: Arial;
  font-size: 120%;
}

.right {
  float: right;
}

.left {
  float: left;
}

#nav {
  display: block;
  background-color: #2305ce;
  display: inline-block;
  width: 98vw;
  border: 3px solid #2305ce;
  border-radius: 5px;
  margin: 6px;
  color: #fff5f8;
}



body {
  font-family: 'Roboto Slab', arial;
  background-color: #b1afb0d0;
}

#quizBody {
  text-align: center;
  padding: 12vh;
}

h4 {
  padding: 10px 8px 10px 8px;
  color: #fff5f8;
}

a {
  text-decoration: none;
  color: black;
}

button {
  border: none;
  background-color: #2305ce;
  color: white;
  border-radius: 5px;
  padding: 10px 16px 10px 16px;
  font-size: 17px;
  font-family: 'Roboto Slab', arial;
  margin: 4px;
}

button:hover {
  transition-duration: 0.4s;
  background-color: #219e32;
}

#quiz {
  text-align: center;
  border: blue;
  background-color: #fbfafc;
  
}
#feedback{
  color: blue;
}